/*----STYLES FOR PHOTOGRAPHY PROJECT----*/
/*----------The following is for the body to have a margin at the bottom------*/
body {
    margin-bottom: 80px;
}
/*----------This is the end of the css for the body to have a margin at the bottom------*/
.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.up { bottom:100% !important; top:auto !important; }

.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://netnz.org/wp-content/uploads/2014/12/Photography-Camera-HD-Wallpaper1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

/* Buttons */

.btn-youtube {
  color: #ffffff;
  background-color: #cd332d;
  border-color: white;
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active,
.open .dropdown-toggle.btn-youtube {
  color: #ffffff;
  background-color: #ac2b26;
  border-color: #340308;
}

.btn-youtube:active,
.btn-youtube.active,
.open .dropdown-toggle.btn-youtube {
  background-image: none;
}

.btn-youtube.disabled,
.btn-youtube[disabled],
fieldset[disabled] .btn-youtube,
.btn-youtube.disabled:hover,
.btn-youtube[disabled]:hover,
fieldset[disabled] .btn-youtube:hover,
.btn-youtube.disabled:focus,
.btn-youtube[disabled]:focus,
fieldset[disabled] .btn-youtube:focus,
.btn-youtube.disabled:active,
.btn-youtube[disabled]:active,
fieldset[disabled] .btn-youtube:active,
.btn-youtube.disabled.active,
.btn-youtube[disabled].active,
fieldset[disabled] .btn-youtube.active {
  background-color: #cd332d;
  border-color: #6e0610;
}